/* .logo {
  color: grey;
}

.text-rules {
  padding-top: 20px;
  padding-right: 35px;
}

ul {
  list-style: none;
}

.title-color {
  color: red;
}

.container {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.js-btn {
  display: flex;
}

.tog{
  display: none;
} */

.js-container {
    display: flex;
    justify-content: center;
}

.item {
    border: 5px black;
    width: 50px;
    height: 50px;
    padding: 10%;
}
